.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
  /* background-color: var(--primary-color); */
  margin-bottom: 20%;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.responsive-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

@media (max-width: 768px) {
  .responsive-row {
    flex-direction: column;
    gap: 0;
  }

  .form {
    width: 80%;
  }
}