.sidebar {
  height: 100vh;
  width: 210px;
  background-color: #04C1F3;
  display: flex;
  flex-direction: column;

  & h1 {
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
}

.logo {
  width: 150px;
  object-fit: contain;
  align-self: center;
  box-shadow: inset;
  padding: 5px 0;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 15px;
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

    .logo {
      display: none;
    }

    & h1 {
      display: none;
    }

    .list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      padding: 10px 0 0 0;
    }
  }
}